<div class="container">
    <div class="row" style="margin-top: 5em;">
        <div class="col col-sm-12">
            <h3>Let's play with strings!</h3>
        </div>
    </div>
    <div class="row" style="margin-top: 1em;">
        <p>Insert a text, and i'll tell you the maximun value!</p>
    </div>
    <div class="row">
        <div class="col col-sm-12 col-md-6">
            
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"><strong>Input:</strong> </label>
                <textarea class="form-control" [formControl]="stringField" id="exampleFormControlTextarea1" rows="3"></textarea>
                <br>
                <button type="button" class="btn btn-primary" (click)="calculate()">Calculate</button>
            </div>

            <div *ngIf="success" class="card text-bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Output</div>
                <div class="card-body">
                  <h5 class="card-title">Max value : {{ response.data.max }}</h5>
                  <p class="card-text">Los resultados se verán aqui: </p>
                  <p *ngFor="let ele of this.response.data.list">
                    f('{{ ele.substring }}') = {{ ele.value }} <br>
                  </p>
                </div>
              </div>
        </div>
        <div class="col col-sm-12 col-md-6">

        </div>
    </div>
</div>